
$lpurple: #BA68C8;
$purple: #8E24AA;
$dpurple: #6A1B9A;
$font: 'Barlow', sans-serif;

html, body, * {
	font-family: $font;
}
h1 {
	color: $purple;
	font-weight: 900;
}
.btn{
	margin: auto;
	margin-top: 30px;
	background: $purple;
	border-color: $dpurple;
	color: white;
	font-weight: 200;
	font-family: $font;
	letter-spacing: 2px;
	cursor: pointer;
	display: none;
	&:hover, &:focus {
		background: $dpurple;
		color: white;
	}
}


#guessesLeft {
	border: 1px solid $purple;
	padding: 5px 10px;
	background: white;
	font-weight: 600;

	display: inline-block;
}

#guessedLetters {
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 20px;
}
body {
	background: #eee;
}
.hidden {
	display: none;
}
.show {
	position: absolute;
	top:20vh;
	left: 50vw;
	transform: translate(-50%, 0%);
	background: white;
	border: 1px solid $purple;
	padding: 30px;
	svg.animate {
	  width: 100px;
	  display: block;
	  margin: auto;
	  path {
	    stroke-width: 10;
	  }
	  .path {
	      // stroke-dasharray: 234;
	      // stroke-dashoffset: 0;
	        stroke-width: 10;
	        border-radius: 4px;
	        stroke: $dpurple;
	      
	      &.check {
	        stroke-dashoffset: 234;
	        -webkit-animation: dash-check .5s 1s ease-in forwards;
	        animation: dash-check .5s 1s ease-in forwards;
	      }
	    }
	}
	h2.success.text-animate {
	  text-align: center;
	  color: $purple;
	  font-weight: bold;
	  // transform: scale(0);
	  // font-size: 0px;
	  animation: grow .5s 1.2s ease-in-out forwards;
	}
}

// @-webkit-keyframes dash-check {
//   0% {
//     stroke-dashoffset: 234;
//   }
//   100% {
//     stroke-dashoffset: 00;
//   }
// }

// @keyframes dash-check {
//   0% {
//     stroke-dashoffset: 234;
//   }
//   100% {
//     stroke-dashoffset: 0;
//   }
// }

// @keyframes grow {
//   0% {
//     // transform:scale(0);
//     font-size: 0px;
//   }
//   60% {
//    // transform:scale(1.2);
//    font-size: 37px;
//   }
//   100% {
//     // transform:scale(1);
//     font-size:  28px;
//   }
// }