html, body, * {
  font-family: "Barlow", sans-serif; }

h1 {
  color: #8E24AA;
  font-weight: 900; }

.btn {
  margin: auto;
  margin-top: 30px;
  background: #8E24AA;
  border-color: #6A1B9A;
  color: white;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  display: none; }
  .btn:hover, .btn:focus {
    background: #6A1B9A;
    color: white; }

.btn-restart {
  display: block; }

#word {
  text-transform: uppercase; }

#guessesLeft {
  border: 1px solid #8E24AA;
  padding: 5px 10px;
  background: white;
  font-weight: 600;
  display: inline-block; }

#guessedLetters {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 20px; }

body {
  background: #eee; }

.hidden {
  display: none; }

.animation1 {
  height: 103px; }

.animation2 {
  transform: scale(1, 0);
  transform-origin: top;
  animation: expandUp 1s 1s ease forwards; }

.show {
  position: absolute;
  width: 75vw;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #8E24AA;
  padding: 30px;
  box-shadow: 3px 5px 8px rgba(85, 85, 85, 0.1); }
  .show svg.animate {
    width: 100px;
    display: block;
    margin: auto; }
    .show svg.animate path {
      stroke-width: 10; }
    .show svg.animate .path {
      stroke-dasharray: 234;
      stroke-dashoffset: 0;
      stroke-width: 10;
      border-radius: 4px;
      stroke: #6A1B9A; }
      .show svg.animate .path.check {
        stroke-dashoffset: 234;
        -webkit-animation: dash-check 1s .6s ease-in forwards;
        animation: dash-check 1s .6s ease-in forwards; }
  .show .video-container {
    max-width: 500px;
    margin: auto; }
  .show iframe {
    width: 100%; }
  .show h2.success.text-animate {
    text-align: center;
    color: #8E24AA;
    font-weight: bold;
    font-size: 0px;
    animation: grow .5s .5s ease-in-out forwards; }

.wordend {
  text-transform: uppercase;
  font-weight: bold; }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: 234; }
  100% {
    stroke-dashoffset: 00; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: 234; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes grow {
  0% {
    font-size: 0px; }
  60% {
    font-size: 37px; }
  100% {
    font-size: 28px; } }

@keyframes expandUp {
  0% {
    transform: scale(1, 0); }
  60% {
    transform: scale(1.1 0.2); }
  100% {
    transform: scale(1, 1); } }
