html, body, * {
  font-family: "Barlow", sans-serif; }

h1 {
  color: #8E24AA;
  font-weight: 900; }

.btn {
  margin: auto;
  margin-top: 30px;
  background: #8E24AA;
  border-color: #6A1B9A;
  color: white;
  font-weight: 200;
  font-family: "Barlow", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  display: none; }
  .btn:hover, .btn:focus {
    background: #6A1B9A;
    color: white; }

#guessesLeft {
  border: 1px solid #8E24AA;
  padding: 5px 10px;
  background: white;
  font-weight: 600;
  display: inline-block; }

#guessedLetters {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 20px; }

body {
  background: #eee; }

.hidden {
  display: none; }

.show {
  position: absolute;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, 0%);
  background: white;
  border: 1px solid #8E24AA;
  padding: 30px; }
  .show svg.animate {
    width: 100px;
    display: block;
    margin: auto; }
    .show svg.animate path {
      stroke-width: 10; }
    .show svg.animate .path {
      stroke-width: 10;
      border-radius: 4px;
      stroke: #6A1B9A; }
      .show svg.animate .path.check {
        stroke-dashoffset: 234;
        -webkit-animation: dash-check .5s 1s ease-in forwards;
        animation: dash-check .5s 1s ease-in forwards; }
  .show h2.success.text-animate {
    text-align: center;
    color: #8E24AA;
    font-weight: bold;
    animation: grow .5s 1.2s ease-in-out forwards; }
